html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-image: linear-gradient(to left bottom, #795ee6, #0080f3, #0097eb, #00a7d7, #4bb3c3);
    height: 100vh;
}
.all {
    height: 75vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.title {
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 15px;
    border-radius: 3px;
}

.title h1 {
    font-style: italic;
    text-decoration: underline;
}

.main {
    width: 750px;
    display: flex;
    justify-content: space-around;
}

.column {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 0px;
    height: 250px;
    border: 2px solid black;
    overflow: visible;
}

.disk {
    height: 40px;
    margin: 2px 0 2px 0;
    border-radius: 5px;
}

.disk:hover {
    border: 2px solid black;
}

.center {
    display: flex;
    justify-content: center;
}

.btn {
    margin-top: 40px;
}

[id='1'] {
    width: 100px;
background-image: linear-gradient(to left bottom, #704a5b, #8b3e56, #a22c46, #b4152c, #be0000);}

[id='2'] {
    width: 120px;
    background-image: linear-gradient(to left bottom, #705ee6, #7a59dd, #8354d5, #8950cc, #8f4bc3);}
[id='3'] {
    width: 150px;
    background-image: linear-gradient(to left bottom, #5ee6d4, #46dfb9, #3dd799, #46ce74, #57c34b);}

[id='4'] {
    width: 180px;
    background-image: linear-gradient(to left bottom, #e6e05e, #e6c252, #dfa64d, #d48b4b, #c3734b);}

@media (max-width: 1000px) {
    .all {
        flex-direction: column;
    }
    .main {
        width: 100%
    }
}